doctype html
html
  head
    title='Shine SE Code Interview'
    link(rel='stylesheet', href='/css/index.css')
    script(src='https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js')
  body
    div
      h3 Shine Bot:
      p(id='bot')

    div
      h3 User Response:
      input(id='user' type='text')

    div
      button(id='send') Send

    script(src='/js/index.js')